<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th *ngFor="let column of columnNames">{{column}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rec of records">
            <td>{{rec.id}}</td>
            <td>{{rec.name}}</td>
            <td>{{rec.cost}}</td>
            <td>{{rec.first_flight}}</td>
            <td>{{rec.status}}</td>
        </tr>
    </tbody>
</table> -->

<div class="card-body table-responsive">
    <table class="table table-bordered">
        <tr>
            <th *ngFor="let column of columnNames">{{column | capitalize}}</th>
            <!-- <th *ngIf=><app-vv></app-vv></td> -->
            <th *ngIf="showActions">Actions</th>
        </tr>
        <tr *ngFor="let rec of records | sortBy : 'name'; let i = index">
            <td *ngFor="let column of columnNames">
                {{rec[column]}}
            </td>
            <!-- <td><app-vv></app-vv></td> -->
            <!-- <td *ngIf="showActions">Edit | Delete</td> -->
            <td *ngIf="showActions">
                <app-vv [caption]="'Edit'" (EditClick)="OnClick_Edit($event)" [data]="records[i]"></app-vv>
                <app-vv [caption]="'Delete'" (DeleteClick)="OnClick_Delete($event)" [data]="records[i]"></app-vv>
            </td>
        </tr>
    </table>
</div>