<!-- <app-custom-table [records]="projectData"></app-custom-table> -->

<app-spinner></app-spinner>

<br/><br/>

<button (click)="OnClick()">Custom Observable</button>

<a href="javascript:f1()">Click Here</a>

<br/><br/><br/><br/>
<!-- <app-custom-table 
  [records]="studentData" 
  [showActions]="true" 
  [addCustomColumns]="customColumn"
  >
</app-custom-table>

<br/><br/>

<app-tags-dropdown></app-tags-dropdown>

<app-input-checkbox (click)=onclick()></app-input-checkbox>
<app-input-checkbox (click)=onclick()></app-input-checkbox>


<input OnlyNumber type="text" /> -->

<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>